/* *{
  background-color:black ;
} */
* p{
    color:#4e4c4c;
    font-family: 'Alata';
    font-size: 17px;
}
.header{
    background-color: #FE889F;
    width:100%;
}
hr{
    border-top: 1px solid white;
}
.nav{
    margin: auto;
    padding: 10px;
    font-family: 'Concert One';
    color: #FE889F;
    width: 100%;
    background-color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: #FE889F;
  }
  .navbar-light .navbar-nav .nav-link :ACTIVE {
    color: #FFB7C2;
  }
#resume{
    border:solid #FE889F 1px;
    color:#FE889F;
    margin-left: 100%;
    border-radius: 10px;
    background-color: transparent;
}
#resume:hover{
    border:solid #4e4c4c 1px;
    color: #4e4c4c;
}
.texts{
    color:white;
    font-family: 'Moirai One';
    font-size: 45px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bolder;
}
.texts img{
    padding-right:3px;
}
.main{
    background-color: #ffb7c2;
}
.main {
    display: flex;
  }
  
  .bustpics {
    flex: 1;
    flex-basis:30%;
  }
  
  .about {
    flex: 1;
    flex-basis:50%;
    padding:1%; 
  }
  .services{
    flex: 1;
    flex-basis:20%;
    padding-top: 1%;
    background-color: #FFB7C2;
  }
* h1{
    color: black;
    font-family: 'Concert One';
    font-size: 70px;
    text-shadow: 2px 2px white;
  }

 .schools li{
    list-style: none; 
  }
* h4{
    font-family: 'Concert One';
    color:#4e4c4c;
    text-shadow: 1px 1px #FFB7C2;
  }
  .schools h3{
    font-family: 'Concert One';
    font-weight: bolder;
  }
.works{
    border:solid #4e4c4c 1px;
    color:#4e4c4c;
    border-radius: 10px;
    background-color: transparent;
    margin: 5%;
}
.works:hover{
    border:solid white 1px;
    color: white;
}
.educationheader{
    background-color: white;
}
  .hireheader{
    background-color: white;
  }
* h2{
    color: #FE889F;
    font-family: 'Concert One';
    font-size: 45px;
    text-shadow: 2px 2px #4e4c4c;
    padding:2%;
    background-color: white;
  }
  .educationheader{
    background-color: white;
}

  .skillsexpe{
    background-color: white;
  }

  .education {
    background-color: #FFB7C2;
    display: none;
  }

  .show-education {
    display: block !important;
  }
  .contact {
    background-color: #FFB7C2;
    display: none;
    padding-bottom: 3%;
  }

  .show-contact {
    display: block !important;
  }

  .hireme {
    background-color: #FFB7C2;
    display: none;
  }

  .show-hireme {
    display: block !important;
  }
  
  .skills {
    background-color: #FFB7C2;
    display: none;
  }

  .show-skills {
    display: block !important;
  }
  
  .schools{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .up{
    background-color: white;
    flex: 1;
    flex-basis: 30%;
    margin-right: 2%;
    /* border: solid black 1px; */
    border-radius: 10px;
    padding-bottom: 5%;
  }
  .mchs{
    background-color: white;
    flex: 1;
    flex-basis: 30%;
    margin-right: 2%;
    /* border: solid black 1px; */
    border-radius: 10px;
    padding-bottom: 5%;
  }
  .hcm{
    background-color: white;
    flex: 1;
    flex-basis: 30%;
    margin-right: 2%;
    /* border: solid black 1px; */
    border-radius: 10px;
    padding-bottom: 5%;
  }
  .up:hover{
    box-shadow: 4px 4px 4px 4px #4e4c4c;
  }
  .mchs:hover{
    box-shadow: 4px 4px 4px 4px #4e4c4c;
  }
  .hcm:hover{
    box-shadow: 4px 4px 4px 4px #4e4c4c;
  }
  .logo img{
    width:50px;
  }
  .dropdown{
    position:absolute;
    right: 5%;
    padding-right: 2%;
    padding-top:1%;
  }
#dropdownMenu2{
    border: solid 1px #FE889F;
    background-color: transparent;
    color:#FE889F;
  }
  #dropdownMenu2:hover{
    border: solid 1px #4e4c4c;
    background-color: transparent;
    color:#4e4c4c;
  }
  .work1{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 70%;
    border: 3px solid white;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
  }
  .work1:hover{
    box-shadow: 4px 4px 4px 4px #4e4c4c;
  }
  .work h3{
    font-family: 'Moirai One';
    font-weight: bolder; 
    font-size: 40px; 
    color: white;
    background-color: #FE889F;
  }
.data-row{
  border-bottom: 3px solid #FE889F;

  }
  .work img{
    border: solid 1px #FE889F;
    border-radius: 10px;
  }
.data-row a{
  text-decoration: none;
}
.data-row h4{
  font-family: 'Concert One';
  color: black;
  text-shadow: 1px 1px #FFB7C2;
  font-size: 30px;
}
.data h4{
  font-family: 'Concert One';
  color: black;
  text-shadow: 1px 1px #FFB7C2;
  font-size: 30px;
}
.data-row h4:hover{
  text-shadow: 1px 1px #FE889F;
  text-decoration: underline;
}
aside{
  color:#FFB7C2
}
.mainpic{
  width:75%;
  border-radius: 10px;
  margin-top: 1%;
  padding-bottom: 5%;
}
.logo{
  margin-top: 2%;
}
.logotd{
  width:25%;
  border-bottom: #FFB7C2 1px solid;
}
.scltd{
  width:75%;
  border-bottom: #FFB7C2 1px solid;
}
table{
  padding:3%;
}
th{
  text-align: center;
  
}
.sk{
  border-bottom: 1px solid;
  border-radius: 10px;
  border-top: 1px solid;
}

.sk table {
  background-color: white;
  border-radius: 10px;
}
.seflex{
  display: flex;
}
.skillonly{
  flex:1;
  flex-basis: 30%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border: 3px solid white;
  padding: 10px;
  background-color: white;
  text-align: left;
  border-radius: 10px;
}
.expe:hover, .expo:hover, .skillonly:hover{
  box-shadow: 4px 4px 4px 4px #4e4c4c;
}
td tr{
  text-align: left;
}
.expe{
  flex:1;
  flex-basis: 70%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 2%;
  border: 3px solid white;
  padding: 10px;
  background-color: white;
  text-align: left;
  border-radius: 10px;
}
.expe h4{
  border-bottom: 1px solid #4e4c4c;
  border-top: 1px solid #4e4c4c;
}
.expo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 80%;
  border: 3px solid white;
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}
.form {
  background-color: white;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  color: #4e4c4c;
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  font-weight: bold;
  width: 50%;
  box-shadow: 4px 4px 4px 4px #4e4c4c
}

label{
  font-family: 'Concert One';
}
input{
  border: 2px solid #FE889F;
  border-radius: 10px;
  width: 60%;
}
input:hover{
  box-shadow: 2px 2px 2px 2px #4e4c4c;
}
input:focus{
  box-shadow: 2px 2px 2px 2px #4e4c4c;
}
textarea{
  border: 2px solid #FE889F;
  border-radius: 10px;
  width: 60%;
}
textarea:focus{
  box-shadow: 2px 2px 2px 2px #4e4c4c;
}
textarea:hover{
  box-shadow: 2px 2px 2px 2px #4e4c4c;
}
#submit{
  border: solid 2px #4e4c4c;
  background-color: transparent;
  color:#4e4c4c;
  font-weight: bold;
  font-family: 'Concert One';

}
#submit:hover{
  border: solid 2px #FE889F;
  background-color: transparent;
  color:#FE889F;
}
#email{
  width:30%;
}
#name{
  width:30%;
}
.socials img{
  height: 40px;
  margin: 2%;
}